# 1) Reading in  and Cleaning the Data

In [429]:
import os
import pandas as pd
import numpy as np
from fuzzymatcher import link_table, fuzzy_left_join
os.chdir('/Users/mariomoreno/Desktop/ML Projects/Mexico OC/data')

In [430]:
industria_cols = ['entidad', 'prod_oro_kg', 'prod_plata_kg', 'del', 'prod_plomo_t', 'prod_cobre_t', 'prod_zinc_t', 'del', 'prod_coque_t', 'del', 'prod_fierropellets_t', 'del', 'prod_azufre_t', 'del', 'prod_barita_t', 'prod_fluorita_t']
medio_cols = ['del', 'entidad', 'capital', 'altitud', 'costa_km', 'municipios', 'del']
seguridad_cols = ['entidad', 'denuncias_total', 'denuncias_salud', 'denuncias_arma', 'denuncias_bancaria', 'denuncias_leyg', 'denuncias_comms', 'del', 'denuncias_servpub', 'denuncias_fiscales', 'denuncias_ambiente', 'denuncias_asocdelictuosa', 'denuncias_patrimoniales', 'denuncias_propintelectual', 'denuncias_robocarretera', 'denuncias_otras']
carretera_cols = ['entidad', 'total_carretera_km', 'del', 'carretera_pavimentada_km', 'del', 'carretera_revestida_km', 'carretera_terraceria_kg', 'brechas_mejoradas_km', 'del']
educacion_cols = ['entidad', 'alumnos_inscritos_hs', 'hombres_inscritos_hs', 'mujeres_inscritas_hs', 'maestros_hs', 'escuelas_hs', 'del']
trabajo_cols = ['entidad', 'convenios_trabajo_no_juicio', 'conflictos_trabajo', 'emplazamientos_huelga', 'emplazamientos_huelga_solucionados', 'huelgas_estalladas', 'huelgas_locales_solucionadas', 'del']

Here I'm just simply renaming the columns to make it easier to delete unnecessary ones down the road.

In [431]:
medio_base = pd.read_excel('Medio_Ambiente.xlsx', sheetname = '1.11', header = 3, names = medio_cols)
seguridad_base = pd.read_excel('Seguridad.xlsx', sheetname = '7.2', header = 4, names = seguridad_cols)
carretera_base = pd.read_excel('Carretera.xlsx', sheetname = '14.2', header = 5, names = carretera_cols)
educacion_base = pd.read_excel('Educacion.xlsx', sheetname = '4.19', header = 4, names = educacion_cols)
industria_base = pd.read_excel('Industria.xlsx', sheetname = '11.5', header = 7, names = industria_cols)
trabajo_base = pd.read_excel('Trabajo.xlsx', sheetname = '8.15', header = 3, names = trabajo_cols)

Reading in the data, with appropriate sheetnames, headers in the right location, and appropriate column names as outlined above...though come to think of it, did not need headers if column names were changing.

Important note: the data is a number of different datasets that might have information pertinent to measuring the presence of organized crime in a Mexican state

In [432]:
base_frames = [medio_base, seguridad_base, carretera_base, educacion_base, industria_base, trabajo_base]
index_list = []
for frame in base_frames:
    frame.drop('del', axis =1, inplace=True)
    for ind, row in frame.iterrows():
        if row['entidad'] == 2010 or row['entidad'] == '2010/2011':
            print(ind)

4
543
543
408
560

Dropping all the empty columns, getting index numbers to cut frames starting at 2010 since I can't figure out how to do it otherwise

In [433]:
seguridad_base = seguridad_base.truncate(4).dropna(axis=0, how='all').reset_index(drop=True)
carretera_base = carretera_base.truncate(543).dropna(axis=0, how='all').reset_index(drop=True)
educacion_base = educacion_base.truncate(543).dropna(axis=0, how='all').reset_index(drop=True)
industria_base = industria_base.truncate(408).dropna(axis=0, how='all').reset_index(drop=True)
trabajo_base = trabajo_base.truncate(560).dropna(axis=0, how='all').reset_index(drop=True)
medio_base = medio_base.dropna(axis=0, how='all').reset_index(drop=True)

In [434]:
medio_base.fillna(value={'entidad': 'Estados Unidos Mexicanos'}, inplace=True)

,entidad,capital,altitud,costa_km,municipios
0,Estados Unidos Mexicanos,NaN,NaN,11122.0,2464.0
1,Aguascalientes,Aguascalientes,1870.0,NaN,11.0
2,Baja California,Mexicali,3.0,1493.0,5.0
3,Baja California Sur,La Paz,10.0,2131.0,5.0
4,Campeche,San Francisco de Campeche,10.0,425.0,11.0
5,Coahuila de Zaragoza,Saltillo,1700.0,NaN,38.0
6,Colima,Colima,500.0,142.0,10.0
7,Chiapas,Tuxtla Gutiérrez,640.0,266.0,124.0
8,Chihuahua,Chihuahua,1561.0,NaN,67.0
9,Ciudad de México b/,NaN,2240.0,NaN,16.0
10,Durango,Victoria de Durango,1860.0,NaN,39.0
11,Guanajuato,Guanajuato,2000.0,NaN,46.0
12,Guerrero,Chilpancingo de los Bravo,1250.0,522.0,81.0
13,Hidalgo,Pachuca de Soto,2000.0,NaN,84.0
14,Jalisco,Guadalajara,1550.0,351.0,125.0
15,México,Toluca de Lerdo,2680.0,NaN,125.0
16,Michoacán de Ocampo,Morelia,1920.0,228.0,113.0
17,Morelos,Cuernavaca,1510.0,NaN,33.0
18,Nayarit,Tepic,920.0,296.0,20.0
19,Nuevo León,Monterrey,530.0,NaN,51.0
20,Oaxaca,Oaxaca de Juárez,1560.0,568.0,570.0
21,Puebla,Heroica Puebla de Zaragoza,2135.0,NaN,217.0
22,Querétaro,Santiago de Querétaro,1820.0,NaN,18.0
23,Quintana Roo,Chetumal,10.0,1176.0,11.0
24,San Luis Potosí,San Luis Potosí,1860.0,NaN,58.0
25,Sinaloa,Culiacán Rosales,60.0,622.0,18.0
26,Sonora,Hermosillo,210.0,1209.0,72.0
27,Tabasco,Villahermosa,20.0,200.0,17.0
28,Tamaulipas,Ciudad Victoria,320.0,433.0,43.0
29,Tlaxcala,Tlaxcala de Xicohténcatl,2240.0,NaN,60.0
30,Veracruz de Ignacio de la Llave,Xalapa - Enríquez,1460.0,720.0,212.0
31,Yucatán,Mérida,9.0,340.0,106.0
32,Zacatecas,Zacatecas,2440.0,NaN,58.0

In [435]:
base_frames = [medio_base, seguridad_base, carretera_base, educacion_base, industria_base, trabajo_base]
for frame in base_frames:
    test = []
    for ind, row in frame.iterrows():
        if type(row['entidad']) is int or row['entidad'] == '2016 P/' or row['entidad'] == '2017 P/':
            test.append((row['entidad'], ind))
        elif row['entidad'] == '2010/2011' or row['entidad'] == '2011/2012' or row['entidad'] == '2012/2013' or row['entidad'] == '2013/2014' or row['entidad'] == '2014/2015' or row['entidad'] == '2015/2016' or row['entidad'] == '2016/2017':
            test.append((row['entidad'], ind))
    print(test)

[]
[(2010, 0), (2011, 34), (2012, 69), (2013, 104), (2014, 140), (2015, 175), ('2016 P/', 211)]
[(2010, 0), (2011, 34), (2012, 68), (2013, 102), (2014, 136), (2015, 170), ('2016 P/', 204), ('2017 P/', 238)]
[('2010/2011', 0), ('2011/2012', 34), ('2013/2014', 102), ('2014/2015', 136), ('2015/2016', 170)]
[(2010, 0), (2011, 24), (2012, 48), (2013, 72), (2014, 96), (2016, 144), ('2017 P/', 168)]
[(2010, 0), (2011, 35), (2012, 70), (2013, 105), (2014, 140), (2015, 175), (2016, 210), (2017, 245)]

Ok, so after truncating from 2010 onwards, dropping all rows that were just NAs, and reseting the indices, I know have indices where each year begins. This is useful because it let's me see that I only have complete data through 2016 and it let's me start thinking about how I can create a column for year across all datasets

In [436]:
carretera_base = carretera_base[:238]
educacion_base = educacion_base[:238]
industria_base = industria_base[:168]
trabajo_base = trabajo_base[:245]

In [437]:
# Trabajo - year column
tra = trabajo_base['entidad'].tolist()
year_tra = []
for ind, ent in enumerate(tra):
    if ind >= 0 and ind < 35:
        ent = 2010
        year_tra.append(ent)
    elif ind >= 35 and ind < 70:
        ent = 2011
        year_tra.append(ent)
    elif ind >= 70 and ind < 105:
        ent = 2012
        year_tra.append(ent)
    elif ind >= 105 and ind < 140:
        ent = 2013
        year_tra.append(ent)
    elif ind >= 140 and ind < 175:
        ent = 2014
        year_tra.append(ent)
    elif ind >= 175 and ind < 210:
        ent = 2015
        year_tra.append(ent)
    else:
        ent = 2016
        year_tra.append(ent)

tcol = pd.Series(year_tra)
trabajo_base['year'] = tcol.values

# Industria - year column
inds = industria_base['entidad'].tolist()
year_ind = []
for ind, ent in enumerate(inds):
    if ind >= 0 and ind < 24:
        ent = 2010
        year_ind.append(ent)
    elif ind >= 24 and ind < 48:
        ent = 2011
        year_ind.append(ent)
    elif ind >= 48 and ind < 72:
        ent = 2012
        year_ind.append(ent)
    elif ind >= 72 and ind < 96:
        ent = 2013
        year_ind.append(ent)
    elif ind >= 96 and ind < 120:
        ent = 2014
        year_ind.append(ent)
    elif ind >= 120 and ind < 144:
        ent = 2015
        year_ind.append(ent)
    else:
        ent = 2016
        year_ind.append(ent)

icol = pd.Series(year_ind)
industria_base['year'] = icol.values

# Educacion - year column
edu = educacion_base['entidad'].tolist()
year_ed = []
for ind, ent in enumerate(edu):
    if ind >= 0 and ind < 34:
        ent = 2010
        year_ed.append(ent)
    elif ind >= 34 and ind < 68:
        ent = 2011
        year_ed.append(ent)
    elif ind >= 68 and ind < 102:
        ent = 2012
        year_ed.append(ent)
    elif ind >= 102 and ind < 136:
        ent = 2013
        year_ed.append(ent)
    elif ind >= 136 and ind < 170:
        ent = 2014
        year_ed.append(ent)
    elif ind >= 170 and ind < 204:
        ent = 2015
        year_ed.append(ent)
    else:
        ent = 2016
        year_ed.append(ent)

ecol = pd.Series(year_ed)
educacion_base['year'] = ecol.values

# Carretera - year column
car = carretera_base['entidad'].tolist()
year_car = []
for ind, ent in enumerate(car):
    if ind >= 0 and ind < 34:
        ent = 2010
        year_car.append(ent)
    elif ind >= 34 and ind < 68:
        ent = 2011
        year_car.append(ent)
    elif ind >= 68 and ind < 102:
        ent = 2012
        year_car.append(ent)
    elif ind >= 104 and ind < 136:
        ent = 2013
        year_car.append(ent)
    elif ind >= 136 and ind < 170:
        ent = 2014
        year_car.append(ent)
    elif ind >= 170 and ind < 204:
        ent = 2015
        year_car.append(ent)
    else:
        ent = 2016
        year_car.append(ent)

ccol = pd.Series(year_car)
carretera_base['year'] = ccol.values

# Seguridad - year column
seg = seguridad_base['entidad'].tolist()
year_seg = []
for ind, ent in enumerate(seg):
    if ind >= 0 and ind < 34:
        ent = 2010
        year_seg.append(ent)
    elif ind >= 34 and ind < 69:
        ent = 2011
        year_seg.append(ent)
    elif ind >= 69 and ind < 104:
        ent = 2012
        year_seg.append(ent)
    elif ind >= 104 and ind < 140:
        ent = 2013
        year_seg.append(ent)
    elif ind >= 140 and ind < 175:
        ent = 2014
        year_seg.append(ent)
    elif ind >= 175 and ind < 211:
        ent = 2015
        year_seg.append(ent)
    else:
        ent = 2016
        year_seg.append(ent)

scol = pd.Series(year_seg)
seguridad_base['year'] = scol.values

/Users/mariomoreno/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mariomoreno/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mariomoreno/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/mariomoreno/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

With the code above, I have added the year column to each dataset with the corresponding years. It's a bit of a monster, and all of this needs to be generalized -- but it's a start

In [438]:
join = fuzzy_left_join(educacion_base, trabajo_base, ['entidad', 'year'], ['entidad', 'year'])
join.drop(['best_match_score', '__id_left', '__id_right', 'entidad_right', 'year_right'], axis = 1, inplace=True)
join2 = fuzzy_left_join(join, seguridad_base, ['entidad_left', 'year_left'], ['entidad', 'year'])
join2.drop(['best_match_score', '__id_left', '__id_right', 'entidad_left', 'year_left'], axis=1, inplace=True)
join3 = fuzzy_left_join(join2, carretera_base, ['entidad', 'year'], ['entidad', 'year'])
join3.drop(['best_match_score', '__id_left', '__id_right', 'entidad_right', 'year_right'], axis=1, inplace=True)
almost = fuzzy_left_join(join3, industria_base, ['entidad_left', 'year_left'], ['entidad', 'year'])

Pip installed fuzzymatcher and used it to match entidades and years. It was necessary because a couple of states were getting left out when just merging on entidades and years. I did this instead of coding up my own jaro-winkler function to do the matching -- worked like a charm.

In [439]:
almost.columns

Index(['best_match_score', '__id_left', '__id_right', 'alumnos_inscritos_hs',
       'hombres_inscritos_hs', 'mujeres_inscritas_hs', 'maestros_hs',
       'escuelas_hs', 'convenios_trabajo_no_juicio', 'conflictos_trabajo',
       'emplazamientos_huelga', 'emplazamientos_huelga_solucionados',
       'huelgas_estalladas', 'huelgas_locales_solucionadas', 'entidad_left',
       'denuncias_total', 'denuncias_salud', 'denuncias_arma',
       'denuncias_bancaria', 'denuncias_leyg', 'denuncias_comms',
       'denuncias_servpub', 'denuncias_fiscales', 'denuncias_ambiente',
       'denuncias_asocdelictuosa', 'denuncias_patrimoniales',
       'denuncias_propintelectual', 'denuncias_robocarretera',
       'denuncias_otras', 'year_left', 'total_carretera_km',
       'carretera_pavimentada_km', 'carretera_revestida_km',
       'carretera_terraceria_kg', 'brechas_mejoradas_km', 'entidad',
       'prod_oro_kg', 'prod_plata_kg', 'prod_plomo_t', 'prod_cobre_t',
       'prod_zinc_t', 'prod_coque_t', 'prod_fierropellets_t', 'prod_azufre_t',
       'prod_barita_t', 'prod_fluorita_t', 'year'],
      dtype='object')

In [440]:
almost.drop(['best_match_score', '__id_left', '__id_right', 'entidad', 'year'], axis=1, inplace=True)

In [441]:
almost.columns

Index(['alumnos_inscritos_hs', 'hombres_inscritos_hs', 'mujeres_inscritas_hs',
       'maestros_hs', 'escuelas_hs', 'convenios_trabajo_no_juicio',
       'conflictos_trabajo', 'emplazamientos_huelga',
       'emplazamientos_huelga_solucionados', 'huelgas_estalladas',
       'huelgas_locales_solucionadas', 'entidad_left', 'denuncias_total',
       'denuncias_salud', 'denuncias_arma', 'denuncias_bancaria',
       'denuncias_leyg', 'denuncias_comms', 'denuncias_servpub',
       'denuncias_fiscales', 'denuncias_ambiente', 'denuncias_asocdelictuosa',
       'denuncias_patrimoniales', 'denuncias_propintelectual',
       'denuncias_robocarretera', 'denuncias_otras', 'year_left',
       'total_carretera_km', 'carretera_pavimentada_km',
       'carretera_revestida_km', 'carretera_terraceria_kg',
       'brechas_mejoradas_km', 'prod_oro_kg', 'prod_plata_kg', 'prod_plomo_t',
       'prod_cobre_t', 'prod_zinc_t', 'prod_coque_t', 'prod_fierropellets_t',
       'prod_azufre_t', 'prod_barita_t', 'prod_fluorita_t'],
      dtype='object')

In [442]:
almost.reset_index(drop=True, inplace=True)

Doing a lot of cleaning of this final dataframe, including removing the extra columns put in there by fuzzymatcher and resetting the index. Next, I'll try to remove the year rows, add the coastal information, and set a multi-index for entidad and year.

In [443]:
to_drop = []
for index, row in almost.iterrows():
    if type(row['entidad_left']) is int or row['entidad_left'] == '2016 P/':
        to_drop.append(index)

In [444]:
almost.drop(almost.index[to_drop], inplace=True)

In [445]:
almost['entidad_left'].value_counts()

Querétaro                          7
Oaxaca                             7
Tabasco                            7
Puebla                             7
San Luis Potosí                    7
Hidalgo                            7
Sinaloa                            7
Zacatecas                          7
Chiapas                            7
Sonora                             7
Aguascalientes                     7
Tlaxcala                           7
Durango                            7
Yucatán                            7
Jalisco                            7
Estados Unidos Mexicanos           7
Quintana Roo                       7
Ciudad de México                   7
Campeche                           7
Baja California                    7
Colima                             7
Guerrero                           7
Veracruz de Ignacio de la Llave    7
Guanajuato                         7
Michoacán de Ocampo                7
Baja California Sur                7
Nayarit                            7
Morelos                            7
Coahuila de Zaragoza               7
Chihuahua                          7
Nuevo León                         7
México                             7
Tamaulipas                         7
Name: entidad_left, dtype: int64

In [446]:
final = fuzzy_left_join(almost, medio_base, ['entidad_left'], ['entidad'])

In [447]:
final['entidad'].value_counts()

Querétaro                           7
México                              7
Chihuahua                           7
San Luis Potosí                     7
Aguascalientes                      7
Ciudad de México b/                 7
Veracruz de Ignacio de la Llave     7
Hidalgo                             7
Baja California                     7
Jalisco                             7
Sonora                              7
Oaxaca                              7
Tlaxcala                            7
Tabasco                             7
Yucatán                             7
Nayarit                             7
Tamaulipas                          7
Quintana Roo                        7
Durango                             7
Puebla                              7
Estados Unidos Mexicanos            7
Sinaloa                             7
Guerrero                            7
Coahuila de Zaragoza                7
Michoacán de Ocampo                 7
Colima                              7
Nuevo León                          7
Baja California Sur                 7
Morelos                             7
Zacatecas                           7
Guanajuato                          7
Chiapas                             7
Campeche                            7
Name: entidad, dtype: int64

In [448]:
final.drop(['best_match_score', '__id_left', '__id_right', 'entidad_left', 'capital'], axis=1, inplace=True)
final.rename(columns={'year_left':'year'}, inplace=True)

In [449]:
final.set_index(['entidad', 'year'], inplace=True)

In [450]:
final.head()

,,alumnos_inscritos_hs,hombres_inscritos_hs,mujeres_inscritas_hs,maestros_hs,escuelas_hs,convenios_trabajo_no_juicio,conflictos_trabajo,emplazamientos_huelga,emplazamientos_huelga_solucionados,huelgas_estalladas,...,prod_cobre_t,prod_zinc_t,prod_coque_t,prod_fierropellets_t,prod_azufre_t,prod_barita_t,prod_fluorita_t,altitud,costa_km,municipios
entidad,year,,,,,,,,,,,,,,,,,,,,,
Estados Unidos Mexicanos,2010,3811473,1858644,1952829,250712.0,13711,261318.0,197733.0,36097.0,19839.0,84.0,...,270136.0,570004.0,2105000.0,7931194.0,991802.0,143225.0,1067386.0,NaN,11122.0,2464.0
Aguascalientes,2010,40129,19250,20879,2727.0,144,2698.0,3239.0,325.0,195.0,0.0,...,0.0,0.0,0.0,3883423.0,0.0,0.0,0.0,1870.0,NaN,11.0
Baja California,2010,107624,53692,53932,6192.0,271,2342.0,9353.0,3241.0,1010.0,32.0,...,0.0,0.0,0.0,3883423.0,0.0,0.0,0.0,3.0,1493.0,5.0
Baja California Sur,2010,23247,11780,11467,1588.0,76,1255.0,1660.0,296.0,127.0,1.0,...,0.0,0.0,0.0,3883423.0,0.0,0.0,0.0,10.0,2131.0,5.0
Campeche,2010,28350,14349,14001,1975.0,106,3373.0,1179.0,144.0,10.0,0.0,...,0.0,0.0,0.0,3883423.0,0.0,0.0,0.0,10.0,425.0,11.0

Finished cleaning up this dataframe and indexing it by entidad and year.

# 2) Finding and Imputing Missing Variables

In [451]:
final.isnull().sum()

alumnos_inscritos_hs                    0
hombres_inscritos_hs                    0
mujeres_inscritas_hs                    0
maestros_hs                             0
escuelas_hs                             0
convenios_trabajo_no_juicio             0
conflictos_trabajo                      0
emplazamientos_huelga                   0
emplazamientos_huelga_solucionados      0
huelgas_estalladas                      0
huelgas_locales_solucionadas            0
denuncias_total                         0
denuncias_salud                         0
denuncias_arma                          0
denuncias_bancaria                      0
denuncias_leyg                          0
denuncias_comms                         0
denuncias_servpub                       0
denuncias_fiscales                      0
denuncias_ambiente                      0
denuncias_asocdelictuosa                0
denuncias_patrimoniales                 0
denuncias_propintelectual               0
denuncias_robocarretera                 0
denuncias_otras                         0
total_carretera_km                      0
carretera_pavimentada_km                0
carretera_revestida_km                  0
carretera_terraceria_kg                 0
brechas_mejoradas_km                    0
prod_oro_kg                             7
prod_plata_kg                           7
prod_plomo_t                            7
prod_cobre_t                            7
prod_zinc_t                             7
prod_coque_t                            7
prod_fierropellets_t                    7
prod_azufre_t                           7
prod_barita_t                           7
prod_fluorita_t                         7
altitud                                 7
costa_km                              105
municipios                              0
dtype: int64

First we need to see if we have any missing variables, which we do in production of certain metals, capitals, altitude, and coastline. The thing here is that the altitude, and coastline missing variables are expected:
- We're missing altitude for Estados Unidos Mexicanos, which we weren't expecting to have, so maybe it makes sense getting rid of that variables writ large
- It's highly likely that missing values of coastline are for land-locked states

The only true missing values are production of different metals, which could be to a number of factors. Likely it's that in the industria dataframe, they weren't catalogued. This does not mean these states don't have metal producing capacities (there was an "other" row in this data), so let's see if we can estimate it.